.container {
  display: flex;
}
.tasks {
  margin: 0 14px 12px 14px;
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.tasks__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 140px;
  padding: 18px;
  background-color: #0d1117;
  border: 1px solid hwb(212 19% 76%);
  border-radius: 4px;
}
.tasks__leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  max-width: 60%;
  width: 100%;
}
.tasks__leftBlock_title {
  font-size: 24px;
  color: #388bfd;
}
.tasks__leftBlock_description {
  max-width: 80%;
  line-height: 1.3;
}
.tasks__leftBlock_inputTitle {
  padding: 0 2px;
  height: 24px;
  max-width: 500px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}
.tasks__leftBlock_inputDescription {
  padding: 0 2px;
  max-width: 500px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  border-radius: 4px;
}
.tasks__rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  margin-right: 6px;
}
.tasks__rightBlock_date {
  padding: 0 4px;
  max-width: 147px;
  height: 24px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}
.tasks__rightBlock_download {
  color: white;
  cursor: pointer;
}
.tasks__blockBtn {
  display: flex;
  gap: 16px;
}
.tasks__blockBtn_btn {
  font-family: 'Montserrat';
  padding: 8px 12px;
  cursor: pointer;
}
.tasks__blockBtn_btn:hover {
  color: white;
  background-color: #238636;
}
@media (max-width: 817px) {
  .tasks .tasks__list {
    padding: 12px 10px;
    gap: 8px;
  }
  .tasks .tasks__rightBlock {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .tasks .tasks__leftBlock {
    max-width: none;
    width: 100%;
    flex-wrap: wrap;
  }
  .tasks .tasks__leftBlock_inputTitle {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 495px) {
  .tasks .tasks__list {
    padding: 10px 8px;
  }
  .tasks .tasks__rightBlock {
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .tasks .tasks__leftBlock {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.completed {
  opacity: 0.3;
}
.warning {
  border: 1px solid #388bfd;
}
